body {
    background-color: rgb(72, 63, 156);
    font: normal 40pt Arial;
}

#DivMachineButtons {
    position: absolute;
    top: 15%;
    right: 55%;
    width: 30%;
    height: 14%;
    border: 3px solid rgb(48, 22, 22);
    text-align: center;
}

.machineButton {
    background-color: rgb(199, 4, 43);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#DivHumanButtons {
    position: absolute;
    top: 15%;
    right: 15%;
    width: 30%;
    height: 14%;
    border: 3px solid rgb(48, 22, 22);
    text-align: center;
}

.humanButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.humanButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
